* {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}

body {
    width: 960px;
    margin: 0 auto;
}

nav {
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
}

li {
    display: inline;
    padding: 5px;
}

section {
    overflow: auto;
    height: 100%;
}

main {
    background-color: lightgray;
    padding: 20px;
    margin: 10px;
}

article {
    background-color: lightgray;
    padding: 20px;
    margin: 10px;
    width: 420px;
    float: left;
} 


.mart {
    background-color: lightgray;
    padding: 20px;
    margin: 10px;
    width: 900px;
    float: left;
}

.mart2 {
    background-color: lightgray;
    padding: 20px;
    margin: 10px;
    width: 420px;
    height: 400px;
    float: left;
}

.mart3 {
    background-color: lightgray;
    padding: 20px;
    margin: 10px;
    width: 420px;
    height: 210px;
    float: left;
}

.mart4 {
    background-color: lightgray;
    padding: 20px;
    margin: 10px;
    width: 420px;
    height: 300px;
    float: left;
}

footer {
    background-color: lightgray;
    padding: 20px;
    margin: 10px; 
}
